@use '../sass/variables' as v;
@use '../sass/components/nav';
@use '../sass/components/hero';
@use '../sass/components/body';
@use '../sass/components/footer';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');




*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Red Hat Text", system-ui;
}

.container{
    overflow-x: hidden;
}