@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
nav {
  text-align: center;
}
nav img {
  margin-top: 48px;
}

.hero {
  width: 305px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: center;
}
.hero .hero__pictures {
  position: relative;
  height: 160px;
}
.hero .hero__pictures img {
  position: absolute;
  height: 160px;
}
.hero .hero__pictures img:nth-child(1) {
  left: -61px;
}
.hero .hero__pictures img:nth-child(2) {
  right: -61px;
}
.hero .hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  margin-top: 48px;
}
.hero .hero__description {
  margin-top: 24px;
  font-weight: 500;
  line-height: 150%;
  color: hsl(240, 10%, 57%);
}
.hero .hero__buttons.button {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero .hero__buttons.button .button__download {
  border-radius: 29px;
  padding: 16px 40px;
  width: 193px;
  height: 56px;
  background-color: hsl(192, 37%, 48%);
  border: none;
  font-weight: 900;
  font-size: 16px;
  color: hsl(0, 0%, 98%);
}
.hero .hero__buttons.button .button__download:hover {
  background-color: hsl(192, 54%, 64%);
  cursor: pointer;
}
.hero .hero__buttons.button .button__download .button__download-blue {
  color: hsl(192, 90%, 77%);
}
.hero .hero__buttons.button .button__more-info {
  border-radius: 29px;
  padding: 16px 39px;
  width: 161px;
  height: 56px;
  background-color: hsl(268, 34%, 53%);
  border: none;
  font-weight: 900;
  font-size: 16px;
  color: hsl(0, 0%, 98%);
}
.hero .hero__buttons.button .button__more-info:hover {
  background-color: hsl(268, 55%, 71%);
}

/*Hero Tablet*/
.hero .hero__pictures--tablet {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .hero__pictures {
    display: none;
  }
  .hero .hero__pictures--tablet {
    display: block;
    height: 303px;
    width: 820px;
    position: relative;
  }
  .hero .hero__pictures--tablet img {
    position: absolute;
    right: -5px;
  }
  .hero .hero__title,
  .hero .hero__buttons.button,
  .hero .hero__description {
    width: 448.3px;
  }
  .hero .hero__title {
    margin-top: 72px;
    font-size: 48px;
  }
  .hero .hero__buttons.button {
    flex-direction: row;
  }
}
/*Hero Desktop*/
@media (min-width: 1440px) {
  .hero {
    max-width: 1440px;
  }
  .hero .hero__pictures {
    display: block;
    width: 100%;
    height: 0px;
  }
  .hero .hero__pictures img {
    position: absolute;
    height: auto;
  }
  .hero .hero__pictures img:nth-child(1) {
    left: -16px;
  }
  .hero .hero__pictures img:nth-child(2) {
    right: -16px;
  }
  .hero .hero__pictures--tablet {
    display: none;
  }
  .hero .hero__title {
    margin-top: 0px;
    font-size: 64px;
  }
  .hero .hero__description {
    font-size: 18px;
  }
}
.main-content {
  width: 311px;
  margin: 0 auto;
  margin-top: 64px;
}
.main-content .main-content__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .main-content__number .rectangle {
  width: 1px;
  height: 80px;
  background: hsl(240, 18%, 85%);
}
.main-content .main-content__number .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 100%;
  font-weight: 900;
  font-size: 16px;
  color: hsl(240, 10%, 57%);
}
.main-content .main-content__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  margin-top: 64px;
  gap: 16px;
}
.main-content .main-content__pictures img {
  width: 100%;
  height: 144px;
  border-radius: 8px;
}
.main-content .main-content__container {
  margin-top: 64px;
  text-align: center;
}
.main-content .main-content__container .main-content__header {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d96a9;
  letter-spacing: 4px;
}
.main-content .main-content__container .main-content__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 32px;
}
.main-content .main-content__container .main-content__description {
  margin-top: 32px;
  font-weight: 500;
  color: hsl(240, 10%, 57%);
  line-height: 150%;
}

/*Tablet*/
@media (min-width: 768px) {
  .main-content {
    margin-top: 128px;
    min-width: 680px;
  }
  .main-content .main-content__pictures {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .main-content .main-content__container .main-content__title {
    display: inline-block;
    width: 64%;
    margin-top: 16px;
  }
  .main-content .main-content__container .main-content__description {
    display: inline-block;
    margin-top: 0;
    width: 76%;
  }
}
/*Desktop*/
@media (min-width: 1440px) {
  .main-content {
    min-width: 1120px;
  }
  .main-content .main-content__pictures {
    gap: 32px;
  }
  .main-content .main-content__pictures img {
    height: 256px;
  }
  .main-content .main-content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-content .main-content__container .main-content__header {
    font-size: 16px;
  }
  .main-content .main-content__container .main-content__title {
    font-size: 40px;
    width: 40%;
  }
  .main-content .main-content__container .main-content__description {
    font-size: 18px;
    width: 50%;
  }
}
.footer {
  margin-top: 64px;
  text-align: center;
  padding-top: 136px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28px;
  z-index: 2;
}
.footer .footer__number .rectangle {
  width: 1px;
  height: 80px;
  background: hsl(240, 18%, 85%);
}
.footer .footer__number .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid hsl(240, 18%, 85%);
  border-radius: 100%;
  font-weight: 900;
  font-size: 16px;
  color: hsl(240, 10%, 57%);
  background-color: hsl(0, 0%, 98%);
}
.footer .footer__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 28px;
  position: relative;
  gap: 24px;
  background: url("./assets/tablet/image-footer.jpg"); /* Ajusta la opacidad */
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: hsl(0, 0%, 98%);
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
}
.footer .footer__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(192, 37%, 48%);
  opacity: 0.8;
}
.footer .footer__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  text-align: center;
  z-index: 1;
}
.footer .footer__description,
.footer .footer__button {
  z-index: 1;
}
.footer .footer__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.footer .footer__button {
  border-radius: 29px;
  padding: 16px 40px;
  width: 193px;
  height: 56px;
  background-color: hsl(268, 34%, 53%);
  border: none;
  font-weight: 900;
  font-size: 16px;
  color: hsl(0, 0%, 98%);
}
.footer .footer__button .footer__button-purple {
  color: hsl(268, 100%, 86%);
}
.footer .footer__button:hover {
  background-color: hsl(268, 55%, 71%);
}

/*Tablet*/
@media (min-width: 768px) {
  .footer .footer__background {
    width: 100%;
    max-width: 820px;
  }
  .footer .footer__background .footer__title {
    font-size: 35px;
  }
  .footer .footer__background .footer__description {
    width: 73%;
  }
}
/*Desktop*/
@media (min-width: 1440px) {
  .footer .footer__background {
    height: 312px;
    gap: 32px;
    flex-direction: row;
    min-width: 1440px;
    background: url("./assets/desktop/image-footer.jpg");
  }
  .footer .footer__background .footer__title {
    text-align: start;
    max-width: 445px;
  }
  .footer .footer__background .footer__description {
    max-width: 355px;
    text-align: start;
    font-size: 18px;
  }
  .footer .footer__background .footer__button {
    margin-left: 63px;
    margin-bottom: 26px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", system-ui;
}

.container {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
